body {
    /* font-family: 'Dancing Script'; */
    /* font-family: 'Roboto', sans-serif; */
    background-color: rgb(255, 234, 167);
}

h1 {
    font-weight: 700;
}

.main {
    display: flex;
}

.note-introduction {
    width: 250px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.2px;
    border: 1px black solid;
    margin-right: 5px;
}

.note-introduction ul strong {
    color: black;
}

.note-introduction ul img {
    width: 18px;
}

.note-visual {
    flex: 1;
    background-color: rgba(190, 237, 226, 0.574);
    border-radius: 4px;
    padding: 8px;
}

.note-visual img {
    width: 24px;
}

ul.a {
    list-style-type: georgian;
}